@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --bg-url: url(assets/bg-mobile.jpg);

}

.light {
    --text-color: #000000;
    --bg-url: url(assets/bg-mobile-light.png);
}

body * {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
}
  
body {
/*  
    background-image: url(); (linkando a imagem)
    background-repeat: no-repeat; (opção para não repetir a imagem)
    background-position: top center; (posicionando a imagem)
    background-size: cover; (cobrindo todo o body com a imagem)
*/  
    background: var(--bg-url) no-repeat top center/cover;
}

#container {
    height: 712px;
    width: 360px;
    margin: 56px auto auto;
    padding: 0 24px;
}

#profile {
    text-align: center;
}

#profile img {
    height: 112px;
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;

    margin-top: 8px;
}

/* links */

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0;

    list-style: none;
}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background .2s;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid #FFFFFF;
}

/* social links */

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;

    font-size: 24px;
}

#social-links a {
    display: flex;

    padding: 16px;
    border-radius: 50%;

    transition: background 0.2s;
}

#social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* footer */

footer {
    text-align: center;
    padding: 24px;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5px;
}